
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color:#fff;
}

img {
  max-width: 100%;
}

#welcome {
  .welcome-menu{
    background: #f4f8fb;
    width: 100%;
    padding: 2rem;
    position: relative;
    // max-width: 500px;
    // min-height: 40vh;
    min-height: 150px;
    height: 20vh;

    .logo {
      margin-bottom: 1rem;
      display: flex;

      img{
          max-width: 50px;
          margin: 0 auto;
      }
    }

    .menu {
      
      .menu-title {
        display: none;
      }
  
      .links {
        // width: 90%;
        max-width: 300px;
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;

        a {
          text-decoration: none;
          color:#000;
          display: inline-block;
          margin-bottom: 1rem;
        }
      }
    }

    .social-icons {
      display: flex;
      justify-content: center;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000000;
        height: 2.5rem;
        width: 2.5rem;
        background: #ffffff;
        font-size: 1rem;
        border-radius: 50%;
        margin-right: 10px;
        transition: all 250ms ease-in-out;

        &:hover {
          color: #c5c5c5;
          background: #000000;
        }
      }
    }

    .location {
      display: none;
    }

  }

  .welcome-jumbo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgb(240,80,68);
    background: -moz-radial-gradient(circle, rgba(240,80,68,1) 0%, rgba(171,18,18,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(240,80,68,1) 0%, rgba(171,18,18,1) 100%);
    background: radial-gradient(circle, rgba(240,80,68,1) 0%, rgba(171,18,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f05044",endColorstr="#ab1212",GradientType=1);

    min-height: 40vh;
    height: 80vh;
    padding: 2rem;

    .status{
      display: inline-block;
      padding: .5rem;
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 1rem;
      color: #fff;
      background: #000;
      border-radius: 5px;
      align-self: flex-start;
      opacity: 0;
      animation: status 2s ease-out;
      animation-delay: 2s;
      animation-fill-mode: forwards;
      position: relative;
    }
    
    h1 {
      font-size: 1.5rem;
      font-weight: 900;
      align-self: flex-start;
      color: #fff;
      margin-bottom: 1rem;
      animation: text 1s ease-in-out;
      animation-delay: 1s;
      opacity: 0;
      animation-fill-mode: forwards;
      // position: relative;
    }

    .burger-fries {
      width: 60%;
      animation: burger 1s ease-in-out;
      position: relative;
    }

    @keyframes status {
      to{
        opacity: 1;
      }
    }
    
    @keyframes text {
      0% {
        left: -30px;
        opacity: 0;
      }

      100% {
        left: 0;
        opacity: 1;
      }
    }

    @keyframes burger {
      0% {
        right: -100px;
        opacity: 0;
      }

      100% {
        right: 0;
        opacity: 1;
      }

    }
  }

  $breakpoint-tablet:350px;
  @media (min-width: $breakpoint-tablet) {
    .welcome-menu {
      height: 25vh;
    }
    
    .welcome-jumbo {
      height: 75vh;
      
    }
  }
  
  $breakpoint-laptop: 1024px;
  @media (min-width: $breakpoint-laptop) {
  
  display: grid;
  grid-template-columns: 1fr 3fr;

  min-height: 100vh;


  .welcome-menu{
    background: #f4f8fb;
    // padding: 4rem;
    // position: relative;
    // max-width: 500px;
    height: 100%;

    .logo {
      margin-bottom: 3rem;

      img{
          max-width: 75px;
      }
    }
    .social-icons {
      display: flex;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000000;
        height: 2.5rem;
        width: 2.5rem;
        background: #ffffff;
        font-size: 1rem;
        border-radius: 50%;
        margin-right: 10px;
        transition: all 250ms ease-in-out;

        &:hover {
          color: #c5c5c5;
          background: #000000;
        }
      }
    }

    .location {
      position: absolute;
      bottom: 4rem;
      display: block;

      .address {
        color: #777777;
        margin-bottom: 2rem;
        line-height: 1.5;
      }
      .phone-number {
        a {
          font-weight: 700;
          font-size: 2rem;
          text-decoration: none;
          color: rgb(184, 42, 42);
        }
      }
    }

    .menu{
      margin-bottom: 5rem;
      .menu-title {
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #000;
        font-weight: 700;
        font-size: 2rem;
        border-bottom: 1px solid #131313;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }

      .links {
        display: block;
        margin: auto;
        width: 100%;
        li {
          a {
            color: #4e4e4e;
            font-size: 1.1rem;
            text-decoration: none;
            font-weight: 700;
            margin-bottom: 1.5rem;
            display: block;
            transition: all 250ms ease-in-out;
            &:hover {
              color: #f05044;
            }
          }
        }
      }
    }
  }

  .welcome-jumbo{
    max-width: 100%;
    height: 100%;
    padding: 6rem;

    .status{
      display: inline-block;
      padding: .75rem;
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
    
    h1 {
      font-size: 4rem;
      font-weight: 900;
      margin-bottom: 6rem;
    }

  }




  }

}


#information{
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 60vh;
  .restaurant-image {
    img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  .info {
    padding: 5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1b1c1e;

    .paragraphs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      line-height: 1.7;
      color: #8a8a8a;
      margin-bottom: 2rem;
      font-size: 1.1rem;
    }

    .about-link {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      display: flex;
      color: #fff;
      text-decoration: none;
      color: #fff;

      .circle-right {
        margin-left: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #f05044;

        .fa-chevron-right {
          color: #fff;
          margin-right: -4px;
          margin-bottom: -2px;
          font-size: 1.25rem;
        }
      }
    }
  }

  $breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-tablet) {
    display: block;

    .restaurant-image {
      font-size: 0;
    }

  }
}

#food-preview {
  color: #000;
  background: #f4f8fb;
  padding: 5rem 3rem;
  min-height: 500px;
  text-align: center;

  h2 {
    color: #000;
  }

  .button-rounded {
    background: #f05044;
    color: #fff;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 30px;
    margin-bottom: 8rem;
    transition: all 250ms ease-in-out;

    cursor: pointer;

    &:hover {
      color: #000;
      background: #fff;
    }
  }

.food-slider {
  width: 100%;
  // max-width: 1500px;
  display: grid;
  // grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  grid-gap: 2rem;


  .slide {
    width: 100%;
    position: relative;
    min-height: 600px;
    cursor: pointer;
    // margin-bottom: 5rem;
    text-align: left;

    &:hover {
      .background {
        // background: #f05044;
        background: #f59f00;
        transform: translate3d(0, -2rem, 0);
        // height: 435px;
      }
      .content {
        // transform: translate3d(0, -1rem, 0);
        .food-title {
          color: #000;
          color: #fff;
        }
        
        .food-description {
          color: #000;
          color: #fff;
        }
        
      }
    }
    
    .background {
      background: #fff;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      position: absolute;
      // transition: height 250ms ease-in-out;
      transition: transform 250ms ease-in-out;
    }

    .content {
      position: absolute;
      z-index: 2;
      padding: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // transition: all 250ms ease-in-out;
      
      .food-title {
        color: #f05044;
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 2rem;
        width: 100%;
      }
      
      .food-description {
        line-height: 1.7;
        color: #7a8d99;
        margin-bottom: 3rem;
      }
    }
  }

    img {
      // width: 95%;
      max-width: 250px;
    }
  }
}
